streamlit==1.59.2
tensorflow==2.21.0
opencv-python-headless
numpy
pandas
pillow
streamlit-webrtc==0.77.0
pyarrow<25streamlit==1.59.2
tensorflow==2.21.0
opencv-python-headless
numpy
pandas
pillow
streamlit-webrtc==0.77.0
pyarrow<25